.historial {
  color: #fff;
}

.cont-historial{

}

.historial-cabecera{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.historial-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border: 1px solid rgb(34, 33, 33);
    margin-bottom: 1px;

}