.historial {
  color: #fff;
  position: relative;
}

.cont-historial {
}

.section-reservas-ventas {
}

.cont-reservas {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.cont-reservas__botones {
  display: flex;
  gap: 2em;
  margin-bottom: 2em;
  padding: 0 1em;
}
.titulo-reservas {
  font-size: 1.3em;
}

.titulo-active{
  border-bottom: 1px solid rgb(211, 210, 179);

}

.grid-header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  font-size: 1.3em;
  margin-bottom: 10px;
  border-top: 1px solid #fff;
  padding-top: .5em;
}

.cont-reservass {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  background: linear-gradient(0.25turn, #000000, #222222, #000000);
  margin-bottom: 2px;
  font-size: 1.2em;
  padding: .3em 0;
}

.item-reservas{
font-size: 1.1em;
}

.item-reservas__button{
  width: 100%;
  display: grid;
  grid-template-columns:auto 1fr auto;
  position: relative;
}

.reservas-botonera{
  display: flex;
  gap: .2em;
}

.historial-active{
  display: none;
}

.reservas-botones{
  font-size: 1.1em;
  position: relative;
  z-index: 45;

}
.nombre{
  grid-column: 1 / -1;
  text-align: center;
  width: 100%;
  position: absolute;
  left: 8px;
}
.grid-header__historial{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
   place-items: center;
  font-size: 1.3em;
  margin-bottom: 10px;
  border-top: 1px solid #fff;
  padding-top: .5em;
}

.cont-reservass__historial{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  background: linear-gradient(0.25turn, #000000, #222222, #000000);
  margin-bottom: 2px;
  font-size: 1.2em;
  padding: .3em 0;
}